@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
  --palette-bgcolor: #FFFAAA;
  --palette-field-color: #2E5762;
  --palette-field-color-hover: #62B0AE;
  font-family: 'Patua One', cursive;
}

*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--palette-bgcolor);
}

#game-board-container {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin: auto;
}

.game-board-field {
  background-color: var(--palette-field-color);
  font-size: 150px;
  width: 200px;
  height: 200px;
  text-align: center;
  transition: background-color 0.4s ease-out
}

.game-board-field:hover {
  background-color: var(--palette-field-color-hover);
}